@model Magfinalproject.Models.cardinfo

@{
    ViewBag.Title = "المعلومات / التفاصيل";
    Layout = "~/Views/Shared/_Layoutmagcontrol.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/magcontrol">لوحة التحكم</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<h2 style="padding-right:65px;padding-top:30px">التفاصيل</h2>

<div>
    
    <hr />
    <dl class="form-horizontal "style="padding-right:65px;padding-left:65px">
        <dt>
            @Html.DisplayNameFor(model => model.Category.classname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.classname)
        </dd>

    

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.describtion)
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.describtion).ToString()))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pic)        
        </dt>

        <dd>
            <img src="~/uploads/@Model.pic" class="thumbnail" style="width:48px; height:48px" />

</dd>

    </dl>
</div>
<p style="padding-right:65px">
    @Html.ActionLink("تعديل", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("الرجوع إلى القائمة", "Index")
</p>
