@model Magfinalproject.Models.center

@{
    ViewBag.Title = "الصلاحي إكسبرس / التعديل";
    Layout = "~/Views/Shared/_Layoutmagcontrol.cshtml";
}

<style>
    .row, form {
        width: 100%;
    }
</style>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/magcontrol">لوحة التحكم</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>

<h2>التعديل</h2>
<h4 class="text-warning"><i class="fa fa-info-circle"></i> هذا التعديل سيؤثر على جميع المعلومات المتصلة به في جدول البيانات, كن حذراً !</h4>

<hr />
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.classname, "تصنيف أساسي", htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.DropDownListFor(model => model.classname, new List<SelectListItem>
                        {
                            new SelectListItem{ Text=" مركز تعليمي", Value = "مركز تعليمي" },
                            new SelectListItem{ Text="كلية", Value = "كلية" },

                         }, htmlAttributes: new { @class = "form-control" })   
                                @Html.ValidationMessageFor(model => model.classname, "", new { @class = "text-danger" })
            </div>
        </div>

           
            <div class="form-group">
                                <div class=" col-sm-10">
                    <input type="submit" value="حفظ" class="btn btn-primary" id="save" />
                </div>
            </div>


    }
</div>
<hr />
<p>
    @Html.ActionLink("الرجوع إلى القائمة", "Index")
</p>
<script src="~/Scripts/jquery.min.js"></script>
