@model Magfinalproject.Models.contacts

@{
    ViewBag.Title = "معلومات التواصل / الحذف";
    Layout = "~/Views/Shared/_Layoutmagcontrol.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/magcontrol">لوحة التحكم</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<style>
    dd {
        direction: ltr;
        text-align: right;
        text-rendering: geometricPrecision;
    }
</style>
<h2 style="padding-right:60px;padding-top:25px" class="text-danger">الحذف</h2>
<h3 style="padding-right:60px;padding-top:25px" class="text-danger">هل أنت متأكد للقيام بعملية الحذف ؟</h3>
<div>

        @Html.AntiForgeryToken()
        <hr />
            <dl class="form-horizontal " style="padding-right:5em;padding-top:1em">
                <dt>
                    @Html.DisplayNameFor(model => model.control_email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.control_email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password_control)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password_control)
                </dd>

                

                <dt>
                    @Html.DisplayNameFor(model => model.contact_email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.contact_email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password_contact)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password_contact)
                </dd>

               

                <dt>
                    @Html.DisplayNameFor(model => model.telephone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.telephone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.phone_num)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.phone_num)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.date)
                </dd>
                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color" style="padding-right:80px">
                        <input type="submit" value="حذف" class="btn btn-danger" />
 |
                        @Html.ActionLink("الرجوع إلى القائمة", "Index")
                    </div>
                }
</div>

